{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'style.css' %}" /> 

    <title>Code Clarity</title>
  </head>
  <body>
    <div class="mainHeading">
      <a href="codeclarity" class="logo-btn">
        <img src="{% static 'E:\OneDrive\Desktop\Web\project\frontend\static\logo.jpeg' %}" alt="My image" class="logo">
      </a>
      <p class="separator">|</p>
      <h1>CodeClarity</h1>
    </div>
    <div class="quote">
      <p>Simplify Your Code, Simplify Your Life</p>
    </div>
  </body>
</html>
